<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBarButtonItem</key>
	<dict>
		<key>backgroundImage</key>
		<dict>
			<key>UIControlStateNormal</key>
			<dict>
				<key>capInsets</key>
				<string>{21,21,21,21}</string>
			</dict>
			<key>UIControlStateDisabled</key>
			<dict>
				<key>capInsets</key>
				<string>{21,21,21,21}</string>
			</dict>
		</dict>
	</dict>
	<key>UIButton</key>
	<dict>
		<key>backgroundImage</key>
		<dict>
			<key>UIControlStateNormal</key>
			<dict>
				<key>capInsets</key>
				<string>{21,21,21,21}</string>
			</dict>
			<key>UIControlStateDisabled</key>
			<dict>
				<key>capInsets</key>
				<string>{21,21,21,21}</string>
			</dict>
		</dict>
        <key>titleColor</key>
        <dict>
            <key>UIControlStateNormal</key>
            <string>{1,1,1,1}</string>
            <key>UIControlStateDisabled</key>
            <string>{1,1,1,1}</string>
            <key>UIControlStateSelected</key>
            <string>{1,1,1,1}</string>
            <key>UIControlStateHighlighted</key>
            <string>{1,1,1,1}</string>
        </dict>
        <key>titleShadowColor</key>
        <dict>
            <key>UIControlStateNormal</key>
            <string>{1,1,1,0}</string>
            <key>UIControlStateDisabled</key>
            <string>{1,1,1,0}</string>
            <key>UIControlStateSelected</key>
            <string>{1,1,1,0}</string>
            <key>UIControlStateHighlighted</key>
            <string>{1,1,1,0}</string>
        </dict>
	</dict>
	<key>UINavigationBar</key>
	<dict>
		<key>backgroundImage</key>
		<dict>
			<key>UIBarMetricsLandscapePhone</key>
			<dict>
				<key>capInsets</key>
				<string>{0,2,0,2}</string>
			</dict>
			<key>UIBarMetricsDefault</key>
			<dict>
				<key>capInsets</key>
				<string>{0,2,0,2}</string>
			</dict>
		</dict>
	</dict>
	<key>UIToolbar</key>
	<dict>
		<key>backgroundImage</key>
		<dict>
			<key>UIBarMetricsLandscapePhone</key>
			<dict>
				<key>capInsets</key>
				<string>{0,2,0,2}</string>
			</dict>
			<key>UIBarMetricsDefault</key>
			<dict>
				<key>capInsets</key>
				<string>{0,2,0,2}</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
